<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{page.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Js Valley, The Javascript Village</title>
  <link rel="stylesheet" href="lib/iconfont/material-icons.css"/>
  <link rel="stylesheet" href="lib/material.grey-pink.min.css"/>
  <link rel="stylesheet" href="lib/roboto-fontface/css/roboto-fontface.css" />
  <script src="lib/material.js"></script>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header half-height">
      <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
          <div class="portfolio-logo"></div>
          <span class="mdl-layout__title"> Learning It, Loving It, Living With Javascript </span>
        </span>
      </div>
      <!--<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout&#45;&#45;large-screen-only">-->
        <!--<nav class="mdl-navigation mdl-typography&#45;&#45;body-1-force-preferred-font">-->
          <!--<a class="mdl-navigation__link is-active" href="index.html">Home</a>-->
        <!--</nav>-->
      <!--</div>-->
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        {% for repository in site.github.public_repositories %}
          <a class="mdl-navigation__link is-active" href="{{repository.url}}">{{repository.name}}</a>
        {% endfor %}
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="mdl-grid portfolio-max-width">
        {{ content }}
      </div>

      <div class="portfolio-max-width">
        <h3>Repositories</h3>
        {% include repositories.html %}
      </div>

      <div class="portfolio-max-width">
        <h3>Members</h3>
        {% include organization_members.html %}
      </div>

      <div class="portfolio-max-width">
        <h3>Contributors</h3>
        {% include contributors.html %}
      </div>

      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Something Here?</div>
        </div>
        <div class="mdl-mini-footer__right-section">
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </div>
</body>

</html>

