<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A portfolio template that uses Material Design Lite.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Js Valley, The Javascript Village</title>
  <link rel="stylesheet" href="/lib/iconfont/material-icons.css"/>
  <link rel="stylesheet" href="/lib/material.grey-pink.min.css"/>
  <link rel="stylesheet" href="/lib/roboto-fontface/css/roboto-fontface.css" />
  <script src="/lib/material.js"></script>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
          <a href="/">
            <div class="portfolio-logo"></div>
          </a>
          <span class="mdl-layout__title"> Learning It, Loving It, Living With Javascript </span>
        </span>
    </div>
    <!--<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout&#45;&#45;large-screen-only">-->
    <!--<nav class="mdl-navigation mdl-typography&#45;&#45;body-1-force-preferred-font">-->
    <!--<a class="mdl-navigation__link is-active" href="index.html">Home</a>-->
    <!--</nav>-->
    <!--</div>-->
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link is-active" href="index.html">Something Here</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ page.title }}</h2>
        </div>
        <div class="article-image-container mdl-card__media" style="background-image:url(/{{ page.image}})">
        </div>
        {% if page.tags %}
          <div class="mdl-card__supporting-text">
            <strong>Includes</strong>
            <span> {{ page.tags }}</span>
          </div>
        {% endif %}
        <div class="mdl-grid portfolio-copy">
          {{ content }}
          {{ page.date | date:"%B %d, %Y" }}
        </div>
      </div>

      <!-- social media buttons starts -->

      <!-- facebook -->
      <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      &nbsp;

      <!-- twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="medium">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      &nbsp;

      <!-- linkedin -->
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share" data-counter="right"></script>
      &nbsp;

      <!-- Google + -->
      <!-- Place this tag in your head or just before your close body tag. -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      &nbsp;
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium"></div>
      &nbsp;

      <!-- social media buttons ends -->

      <!-- facebook comment starts -->
      <div id="fb-root"></div>
      <div class="fb-comments" data-href="http://jsvalley.github.io" data-numposts="5"></div>
      <!-- facebook comment ends -->
    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Something Here?</div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>
<!-- facebook sdk -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=254907754864724";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>

</html>
